* {
  font-family:  'Montserrat, sans-serif';
}

/* Gaya latar belakang card */
.card {
    background: linear-gradient(45deg, #000, #900);
    color: #fff;
    border: none;
  }
  
  /* Gaya tombol pada card */
  .card .btn-danger {
    background-color: #f00;
  }
  
  /* Gaya tombol hover pada card */
  .card .btn-danger:hover {
    background-color: #c00;
  }
  
  .navbar {
    background: linear-gradient(45deg, #FF0000, #000000);
  }

  .navbar-brand {
    background: -webkit-linear-gradient(45deg, #FF0000, #000000);
    -webkit-background-clip: text;
    color: transparent;
  }

  .navbar-nav .nav-link {
    color: white !important;
  }

  .nav-link.active {
    background-color: #FF0000; /* Ganti dengan warna latar belakang yang Anda inginkan */
  }
  
  /* Gaya untuk teks dalam item navbar yang aktif */
  .nav-link.active a {
    color: #FFFFFF; /* Ganti dengan warna teks yang sesuai */
  }