* {
  font-family: 'Montserrat', sans-serif;
}


.navbar {
  background: linear-gradient(45deg, #000000 ,#ed0c0cc3,#4d3636c3);
  width: 100%;
  max-resolution: 20px auto 0;
  display:flex;
  text-align: center;
  position: sticky;
  z-index: 2;
  padding-left: 45%;
}

.navbar-brand {
flex-basis: 15%;
}

.navbar-nav .nav-link {
  color: white !important;
  width: fit-content;
}

  /* Gaya untuk item navbar yang aktif */
  .nav-link.active {
    width: fit-content;
    background-color: #FF0000; /* Ganti dengan warna latar belakang yang Anda inginkan */
  }
  
  /* Gaya untuk teks dalam item navbar yang aktif */
  .nav-link.active a {
    color: #FFFFFF; /* Ganti dengan warna teks yang sesuai */
  }

  footer a {
    color: white;
  }

.remove-bullet ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
/* Hover effect */
.btn-danger {
  background-image: linear-gradient(to right, #ccb533, #ff7b00); /* Neon green gradient on hover */
}

@media (max-width: 768px) {


  .navbar {
    background: linear-gradient(45deg, #000000 ,#ed0c0cc3,#4d3636c3);
    width: 100%;
    max-resolution: 20px auto 0;
    display:flex;
    text-align: center;
    position: sticky;
    z-index: 2;
    padding-left: 35%;
  }
  
  .navbar-brand {
  flex-basis: 15%;
  }

  .navbar-collapse {
    justify-content: center;
  }

  /* Adjust individual nav items if needed */
  .navbar-nav {
    width: 100%;
    justify-content: space-around; /* Menyusun item navbar secara merata */
    margin-top: 10px;
  }

  .nav-item {
    display: inline-block;
    margin-right: 90%; /* Menghapus margin kanan pada item navbar */
    margin-bottom: ;
  }

}