* {
  font-family: 'Montserrat', sans-serif;
}

.main {
  height: max-content;
  background: linear-gradient(rgb(0, 0, 0), #fdfdfd);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}


.navbar {
  background: linear-gradient(45deg, #FF0000, #000000);
}

  .navbar-brand {
    background: -webkit-linear-gradient(45deg, #FF0000, #000000);
    -webkit-background-clip: text;
    color: white;
  }

  .navbar-nav .nav-link {
    color: white !important;
  }

  .nav-link.active {
    background-color: #FF0000; /* Ganti dengan warna latar belakang yang Anda inginkan */
  }
  
  /* Gaya untuk teks dalam item navbar yang aktif */
  .nav-link.active a {
    color: #FFFFFF; /* Ganti dengan warna teks yang sesuai */
  }

  footer a {
    color: white;
  }

.remove-bullet ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.full-width {
  width: 100%;
}

.home-header {
  background: linear-gradient( rgba(255, 254, 254, 0.7),rgb(252, 252, 252)), url(../assets/metafora\ core.png);
  background-position: center;
  background-size: 1%;
}

.banner-text {
  font-size: 36px;
  color: #070606;
  padding-left: 4%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-container h1 {
  color: rgb(36, 36, 36);
}

.text-container p {
  color: rgb(16, 11, 11);
}

.bayi {
  display: flex;
  align-items: center;
}

.image-container {
  margin-right: 20px;
}

.bayi.img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

@media (max-width: 768px) {
  .home-header {
    background-size: 5%;
  }

  .banner-text {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .text-container {
    padding-left: 2%;
    padding-right: 2%;
  }

  .banner-text,
  .text-container h1,
  .text-container p {
    font-size: 24px;
  }
}