* {
  font-family:  'Montserrat, sans-serif';
}

  /* Latar belakang merah untuk carousel */
  #profilCarousel {
    background-color: rgb(138, 57, 57);
  }

  /* Hiasan di pinggir kanan dan kiri carousel */
  #profilCarousel .carousel-control-prev,
  #profilCarousel .carousel-control-next {
    background-color: transparent;
  }

  /* Ikon panah di pinggir kanan dan kiri */
  #profilCarousel .carousel-control-prev-icon,
  #profilCarousel .carousel-control-next-icon {
    background-color: white; /* Warna ikon panah */
  }

  /* Warna teks dan elemen lainnya yang sesuai */
  #profilCarousel .carousel-caption {
    color: white; /* Warna teks di dalam carousel */
  }

  #profilCarousel .title h2 {
    color: white; /* Warna teks judul di dalam carousel */
  }

  /* Gaya CSS untuk carousel */
#profilCarousel .carousel-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profilCarousel .carousel-item {
  width: 100%;
}

/* Gaya CSS untuk elemen teks di carousel */
#profilCarousel .carousel-item .order-1 {
  text-align: left;
  padding: 0 20px; /* Spasi kiri-kanan untuk teks */
}



/* Atur lebar gambar agar tidak terlalu besar */
#profilCarousel .carousel-item .order-2 img {
  max-width: 100%;
  height: auto;
}

/* Gaya CSS untuk ikon media sosial */


  .navbar {
    background: linear-gradient(45deg, #FF0000, #000000);
  }

  .navbar-brand {
    background: -webkit-linear-gradient(45deg, #FF0000, #000000);
    -webkit-background-clip: text;
    color: white;
  }

  .navbar-nav .nav-link {
    color: white !important;
  }

  .nav-link.active {
    background-color: #FF0000; /* Ganti dengan warna latar belakang yang Anda inginkan */
  }
  
  /* Gaya untuk teks dalam item navbar yang aktif */
  .nav-link.active a {
    color: #FFFFFF; /* Ganti dengan warna teks yang sesuai */
  }



