* {
    font-family:  'Montserrat, sans-serif';
  }

.navbar {
    background: linear-gradient(45deg, #FF0000, #000000);
  }

  .navbar-brand {
    background: -webkit-linear-gradient(45deg, #FF0000, #000000);
    -webkit-background-clip: text;
    color: transparent;
  }

  .navbar-nav .nav-link {
    color: white !important;
  }

  .nav-link.active {
    background-color: #FF0000; /* Ganti dengan warna latar belakang yang Anda inginkan */
  }
  
  /* Gaya untuk teks dalam item navbar yang aktif */
  .nav-link.active a {
    color: #FFFFFF; /* Ganti dengan warna teks yang sesuai */
  }

  .video-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Menampilkan 2 video per baris */
    gap: 20px; /* Jarak antara video */
  }
  
  .video {
    max-width: 560px; /* Maksimum lebar video */
    margin: 0 auto; /* Pusatkan video di dalam div */
  }
  
  